@font-face {
  font-family: 'comic-sans';
  src: url('comicsans.ttf') format('truetype'); 
  font-weight: normal; 
  font-style: normal;
}   
body{
  font-family: comic-sans;
  text-align: center;
  margin: 0;
  padding: 0;
}
p{
  font-size: 20px;
}
#output{
  background-color: greenyellow;
  border-radius: 30%;
  color: red;
  width: 33%;
  height: 33%;
  margin: 20px auto;
  padding: 16px;
}